NodeRed/Dashboard.json
[{"id":"b2248c9f.0cd52","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"365dd3e0.e0dffc","type":"inject","z":"b2248c9f.0cd52","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":120,"wires":[["6e82d645.e564d8"]]},{"id":"6e82d645.e564d8","type":"hostip","z":"b2248c9f.0cd52","d":true,"name":"Host IP","x":320,"y":120,"wires":[["528e7ac7.b176b4"]]},{"id":"528e7ac7.b176b4","type":"ui_text","z":"b2248c9f.0cd52","d":true,"group":"62bfb31b.95b0dc","order":2,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","className":"","x":470,"y":120,"wires":[]},{"id":"6909c1ba.092c9","type":"inject","z":"b2248c9f.0cd52","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":300,"wires":[["609160e7.37329"]]},{"id":"609160e7.37329","type":"hostip","z":"b2248c9f.0cd52","d":true,"name":"Host IP","x":320,"y":300,"wires":[["8de2326f.f559e"]]},{"id":"8de2326f.f559e","type":"function","z":"b2248c9f.0cd52","d":true,"name":"Depurar Direccion IPv4","func":"msg.IPv4=msg.payload[4].address\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":300,"wires":[["1f5cf490.f99cab","18dd07f6.4db658","34ea1c35.b66174"]]},{"id":"1f5cf490.f99cab","type":"debug","z":"b2248c9f.0cd52","d":true,"name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":300,"wires":[]},{"id":"18dd07f6.4db658","type":"debug","z":"b2248c9f.0cd52","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"IPv4","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":340,"wires":[]},{"id":"c00a6f8a.8b634","type":"comment","z":"b2248c9f.0cd52","name":"//----Obtengo direcciones locales----","info":"","x":200,"y":60,"wires":[]},{"id":"daed4b8d.efd508","type":"comment","z":"b2248c9f.0cd52","name":"//----Obtengo direccion ipv4----","info":"","x":190,"y":240,"wires":[]},{"id":"34ea1c35.b66174","type":"ui_text","z":"b2248c9f.0cd52","d":true,"group":"62bfb31b.95b0dc","order":3,"width":0,"height":0,"name":"","label":"IPv4","format":"{{msg.IPv4}}","layout":"row-spread","className":"","x":750,"y":380,"wires":[]},{"id":"1ad6a8b5.6aea07","type":"ui_button","z":"b2248c9f.0cd52","name":"","group":"62bfb31b.95b0dc","order":1,"width":0,"height":0,"passthru":false,"label":"Boton Ipv4","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":150,"y":580,"wires":[["83dbf9e2.ea8e08"]]},{"id":"83dbf9e2.ea8e08","type":"hostip","z":"b2248c9f.0cd52","name":"Host IP","x":320,"y":580,"wires":[["bb8d274b.9ea008"]]},{"id":"bb8d274b.9ea008","type":"function","z":"b2248c9f.0cd52","name":"Depurar Direccion IPv4","func":"msg.IPv4=msg.payload[4].address\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":580,"wires":[["40002ef1.6dd88","ead55022.c5734","a5ebfcd1.75daa"]]},{"id":"40002ef1.6dd88","type":"debug","z":"b2248c9f.0cd52","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":580,"wires":[]},{"id":"ead55022.c5734","type":"debug","z":"b2248c9f.0cd52","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"IPv4","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":620,"wires":[]},{"id":"27b3291b.a45206","type":"comment","z":"b2248c9f.0cd52","name":"//----Obtengo direccion ipv4 Boton----","info":"","x":210,"y":520,"wires":[]},{"id":"a5ebfcd1.75daa","type":"ui_text","z":"b2248c9f.0cd52","group":"62bfb31b.95b0dc","order":4,"width":0,"height":0,"name":"","label":"IPv4","format":"{{msg.IPv4}}","layout":"row-spread","className":"","x":750,"y":660,"wires":[]},{"id":"e79079f.1911988","type":"ui_gauge","z":"b2248c9f.0cd52","name":"","group":"89408e80.a65d9","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"5","seg2":"5","className":"","x":310,"y":800,"wires":[]},{"id":"faa8838d.ff6da","type":"ui_slider","z":"b2248c9f.0cd52","name":"","label":"slider","tooltip":"","group":"89408e80.a65d9","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"className":"","x":130,"y":800,"wires":[["e79079f.1911988","b608cd3b.adef6","f66aefb9.7e6c5","27fa14ba.f3701c","7ef35c0c.0a6df4"]]},{"id":"8164620f.c949d","type":"comment","z":"b2248c9f.0cd52","name":"//----Grafico Gauge(y sus variantes) y chart----","info":"","x":240,"y":740,"wires":[]},{"id":"b608cd3b.adef6","type":"ui_chart","z":"b2248c9f.0cd52","name":"","group":"89408e80.a65d9","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":310,"y":980,"wires":[[]]},{"id":"f66aefb9.7e6c5","type":"ui_gauge","z":"b2248c9f.0cd52","name":"","group":"89408e80.a65d9","order":1,"width":0,"height":0,"gtype":"donut","title":"Donut","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"5","seg2":"5","className":"","x":310,"y":840,"wires":[]},{"id":"27fa14ba.f3701c","type":"ui_gauge","z":"b2248c9f.0cd52","name":"","group":"89408e80.a65d9","order":1,"width":0,"height":0,"gtype":"compass","title":"Compass","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"5","seg2":"5","className":"","x":320,"y":880,"wires":[]},{"id":"7ef35c0c.0a6df4","type":"ui_gauge","z":"b2248c9f.0cd52","name":"","group":"89408e80.a65d9","order":1,"width":0,"height":0,"gtype":"wave","title":"Level","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"5","seg2":"5","className":"","x":310,"y":920,"wires":[]},{"id":"62bfb31b.95b0dc","type":"ui_group","name":"Volumen","tab":"cb282433.098c38","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"89408e80.a65d9","type":"ui_group","name":"Grupo2","tab":"cb282433.098c38","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"cb282433.098c38","type":"ui_tab","name":"volumen","icon":"dashboard","disabled":false,"hidden":false}]