NodeRed/Ejemplos.json
[{"id":"5dc33fb8.2588c","type":"tab","label":"Ejemplos","disabled":false,"info":""},{"id":"15237651.20281a","type":"debug","z":"5dc33fb8.2588c","name":"","active":false,"console":"false","complete":"payload","x":750,"y":260,"wires":[]},{"id":"84df0cd4.58462","type":"inject","z":"5dc33fb8.2588c","name":"Select","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"SELECT TOP (1) [Topic]       ,[Payload]   FROM [Dev].[dbo].[MQTTData]","payloadType":"str","x":150,"y":200,"wires":[["eac3e9b1.b2f0e8"]]},{"id":"eac3e9b1.b2f0e8","type":"MSSQL","z":"5dc33fb8.2588c","mssqlCN":"df8c0b88.91b0a8","name":"MSSQL","outField":"payload","returnType":"0","throwErrors":"0","query":"","modeOpt":"","modeOptType":"query","queryOpt":"payload","queryOptType":"msg","paramsOpt":"queryParams","paramsOptType":"msg","rows":"","rowsType":"msg","params":[],"x":519,"y":261,"wires":[["15237651.20281a"]]},{"id":"ca03c5dc.709628","type":"inject","z":"5dc33fb8.2588c","name":"Insert","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"INSERT INTO [Dev].[dbo].[MQTTData] (Topic, Payload) VALUES ('Cardinal', 'Tom B. Erichsen' )","payloadType":"str","x":153,"y":245,"wires":[["eac3e9b1.b2f0e8"]]},{"id":"57a3215a.12b8d","type":"inject","z":"5dc33fb8.2588c","name":"Update","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":150,"y":296,"wires":[["fc1afd38.1ad0f"]]},{"id":"fc1afd38.1ad0f","type":"function","z":"5dc33fb8.2588c","name":"Function","func":"d = new Date,\ndformat = [d.getMonth()+1,\n    d.getDate(),\n    d.getFullYear()].join('/')+' '+\n    [d.getHours(),\n    d.getMinutes(),\n    d.getSeconds()].join(':');\n\ndtstmp = new Date().toString();\npld =       \"UPDATE [Dev].[dbo].[MQTTData] \"\npld = pld + \"Set Timestamp = '\" + dformat + \"' \"\npld = pld + \"WHERE id = 1\"\n\nmsg.payload = pld\nreturn msg;\n\n\n\n\n","outputs":1,"noerr":0,"x":290,"y":296,"wires":[["eac3e9b1.b2f0e8"]]},{"id":"35b4a3e.f64c05c","type":"inject","z":"5dc33fb8.2588c","name":"Select","repeat":"","crontab":"","once":false,"topic":"","payload":"2","payloadType":"num","x":151,"y":352,"wires":[["1528d6ba.7db449"]]},{"id":"1528d6ba.7db449","type":"function","z":"5dc33fb8.2588c","name":"Function","func":"pld =       \"SELECT ID, Topic, Payload, Timestamp \"\npld = pld + \"FROM [Dev].[dbo].[MQTTData] \"\npld = pld + \"WHERE id = \" + msg.payload\n\nmsg.payload = pld\nreturn msg;\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":291,"y":352,"wires":[["eac3e9b1.b2f0e8"]]},{"id":"38bb7577.af1c3a","type":"mqtt in","z":"5dc33fb8.2588c","name":"","topic":"SQLTest/#","qos":"0","datatype":"auto","broker":"712b53e5.990dfc","nl":false,"rap":false,"x":142,"y":402,"wires":[["7eafa2f8.041ebc"]]},{"id":"7eafa2f8.041ebc","type":"function","z":"5dc33fb8.2588c","name":"Function","func":"d = new Date(),\ndformat = [d.getMonth()+1,\n    d.getDate(),\n    d.getFullYear()].join('/')+' '+\n    [d.getHours(),\n    d.getMinutes(),\n    d.getSeconds()].join(':');\n\npld =       \"INSERT INTO [Dev].[dbo].[MQTTData] \"\npld = pld + \"(Topic, Payload, Timestamp) \"\npld = pld + \"VALUES ('\" + msg.topic + \"', '\" + msg.payload + \"', '\" + dformat + \"')\"\n\nmsg.topic = ''\nmsg.payload = pld\nreturn msg;\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":284,"y":402,"wires":[["eac3e9b1.b2f0e8","15237651.20281a"]]},{"id":"25b6280d.1ecf6","type":"inject","z":"5dc33fb8.2588c","name":"decrement","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":160,"y":740,"wires":[["8a41c1.6006b64"]]},{"id":"285e0e19.b9680a","type":"inject","z":"5dc33fb8.2588c","name":"increment","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":160,"y":700,"wires":[["ce8d952f.18666"]]},{"id":"fda0a334.bc9588","type":"inject","z":"5dc33fb8.2588c","name":"reset","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":150,"y":780,"wires":[["17cce981.975686"]]},{"id":"ce8d952f.18666","type":"function","z":"5dc33fb8.2588c","name":"msg object","func":"msg.increment = 2;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":700,"wires":[["ac65bf94.6e609"]]},{"id":"17cce981.975686","type":"function","z":"5dc33fb8.2588c","name":"msg object","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":780,"wires":[["ac65bf94.6e609"]]},{"id":"8a41c1.6006b64","type":"function","z":"5dc33fb8.2588c","name":"msg object","func":"msg.decrement = 1;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":740,"wires":[["ac65bf94.6e609"]]},{"id":"ac65bf94.6e609","type":"counter","z":"5dc33fb8.2588c","name":"","init":"0","step":1,"lower":"","upper":"","mode":"increment","outputs":"1","x":520,"y":720,"wires":[["988afc3c.a08f98"]]},{"id":"370626a8.22216a","type":"inject","z":"5dc33fb8.2588c","name":"normal msg without control parameter","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":250,"y":660,"wires":[["ac65bf94.6e609"]]},{"id":"988afc3c.a08f98","type":"debug","z":"5dc33fb8.2588c","name":"message","active":false,"console":"false","complete":"true","x":680,"y":720,"wires":[]},{"id":"87e14a0a.2f71c8","type":"comment","z":"5dc33fb8.2588c","name":"Ejemplo SQL","info":"A partir del primer link se encuentran el resto de los links\n\nhttps://flows.nodered.org/flow/393641f5cdd1d3a6c59bd232dfcee08e\n\nhttp://electronhacks.com/2017/04/using-microsoft-sql-server-with-node-red-and-mqtt/\n\nhttps://www.youtube.com/watch?v=nmeUSucRZrc&ab_channel=electronhacks\n\nhttps://www.youtube.com/watch?v=sQdzIiKjn9g&ab_channel=electronhacks","x":130,"y":140,"wires":[]},{"id":"25e180ff.1d13e","type":"comment","z":"5dc33fb8.2588c","name":"Ejemplo 1 Contador","info":"https://flows.nodered.org/node/node-red-contrib-counter","x":150,"y":600,"wires":[]},{"id":"4f41c5a1.85426c","type":"inject","z":"5dc33fb8.2588c","name":"decrement","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":160,"y":1000,"wires":[["e9085587.2d19c"]]},{"id":"afb267a8.63739","type":"inject","z":"5dc33fb8.2588c","name":"increment","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":160,"y":960,"wires":[["4a35e3c7.3dbd0c"]]},{"id":"f066adf1.21ba","type":"inject","z":"5dc33fb8.2588c","name":"reset","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":150,"y":1040,"wires":[["523f8e05.d5537"]]},{"id":"4a35e3c7.3dbd0c","type":"function","z":"5dc33fb8.2588c","name":"msg object","func":"msg.increment = 3;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":960,"wires":[["f33ad4bd.777a5"]]},{"id":"523f8e05.d5537","type":"function","z":"5dc33fb8.2588c","name":"msg object","func":"msg.reset = 10;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":1040,"wires":[["f33ad4bd.777a5"]]},{"id":"e9085587.2d19c","type":"function","z":"5dc33fb8.2588c","name":"msg object","func":"msg.decrement = 1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":1000,"wires":[["f33ad4bd.777a5"]]},{"id":"9b40b088.73732","type":"debug","z":"5dc33fb8.2588c","name":"count","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":960,"wires":[]},{"id":"f33ad4bd.777a5","type":"counter","z":"5dc33fb8.2588c","name":"","init":"100","step":"1","lower":"","upper":"","mode":"increment","outputs":"2","x":520,"y":980,"wires":[["9b40b088.73732"],["876cc69d.d4b438"]]},{"id":"99b73d63.9fdb","type":"inject","z":"5dc33fb8.2588c","name":"normal msg without control parameter","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":250,"y":920,"wires":[["f33ad4bd.777a5"]]},{"id":"876cc69d.d4b438","type":"debug","z":"5dc33fb8.2588c","name":"message","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":680,"y":1000,"wires":[]},{"id":"c1ccbb21.ac8058","type":"comment","z":"5dc33fb8.2588c","name":"Ejemplo 2 Contador","info":"https://flows.nodered.org/node/node-red-contrib-counter","x":150,"y":860,"wires":[]},{"id":"389ef55c.94df0a","type":"comment","z":"5dc33fb8.2588c","name":"Ejemplo 1 Hola Mundo Variables -Tambien Uno Datos","info":"","x":260,"y":1460,"wires":[]},{"id":"114a1034.b1e16","type":"inject","z":"5dc33fb8.2588c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Mundo","payload":"Hola","payloadType":"str","x":170,"y":1520,"wires":[["c71e4390.2dc3f"]]},{"id":"c71e4390.2dc3f","type":"function","z":"5dc33fb8.2588c","name":"","func":"var payload=msg.payload;\nvar topic=msg.topic\nmsg.ejemplo=payload+\" \"+topic\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1520,"wires":[["758a7b46.ff5864"]]},{"id":"758a7b46.ff5864","type":"debug","z":"5dc33fb8.2588c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"ejemplo","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":1520,"wires":[]},{"id":"80e69089.80514","type":"inject","z":"5dc33fb8.2588c","name":"increment","props":[{"p":"increment","v":"1","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","x":160,"y":1160,"wires":[["e890e564.aed608"]]},{"id":"da3debc8.2668d8","type":"inject","z":"5dc33fb8.2588c","name":"reset","props":[{"p":"reset","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","x":150,"y":1220,"wires":[["e890e564.aed608"]]},{"id":"e890e564.aed608","type":"counter","z":"5dc33fb8.2588c","name":"","init":"0","step":1,"lower":"","upper":"","mode":"increment","outputs":"1","x":320,"y":1160,"wires":[["8c425b7e.525718"]]},{"id":"8c425b7e.525718","type":"debug","z":"5dc33fb8.2588c","name":"message","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":1160,"wires":[]},{"id":"78c2ec38.a7fde4","type":"comment","z":"5dc33fb8.2588c","name":"Ejemplo 3 Contador","info":"Este es Propio, no lo saque de internet","x":150,"y":1120,"wires":[]},{"id":"728c17ff.b30f38","type":"comment","z":"5dc33fb8.2588c","name":"---------------------------------------------------------------Contadores---------------------------------------------------------------","info":"","x":440,"y":540,"wires":[]},{"id":"271faaab.007466","type":"comment","z":"5dc33fb8.2588c","name":"---------------------------------------------------------------Hola Mundo---------------------------------------------------------------","info":"","x":440,"y":1400,"wires":[]},{"id":"3777931.e53986c","type":"comment","z":"5dc33fb8.2588c","name":"---------------------------------------------------------------SQL---------------------------------------------------------------","info":"","x":420,"y":80,"wires":[]},{"id":"ffb57147.9be53","type":"inject","z":"5dc33fb8.2588c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hola Mundo","payloadType":"str","x":170,"y":1640,"wires":[["3ee14441.e045dc"]]},{"id":"3ee14441.e045dc","type":"debug","z":"5dc33fb8.2588c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":1640,"wires":[]},{"id":"54c18b2b.d6fb84","type":"comment","z":"5dc33fb8.2588c","name":"Ejemplo 2 Hola Mundo","info":"","x":160,"y":1580,"wires":[]},{"id":"e91c65ba.e597a8","type":"comment","z":"5dc33fb8.2588c","name":"--------------------Flow Para Documentar Ejemplos--------------------","info":"","x":260,"y":40,"wires":[]},{"id":"2ba24f34.ee948","type":"inject","z":"5dc33fb8.2588c","name":"Datos","props":[{"p":"Tiempo","v":"","vt":"date"},{"p":"Turno","v":"1","vt":"str"},{"p":"SIM","v":"1","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":1980,"wires":[["80d953ac.ecd92","87652058.b56d9","4317e68a.141518"]]},{"id":"80d953ac.ecd92","type":"debug","z":"5dc33fb8.2588c","name":"Tiempo","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"Tiempo","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":1940,"wires":[]},{"id":"87652058.b56d9","type":"debug","z":"5dc33fb8.2588c","name":"Turno","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"Turno","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":1980,"wires":[]},{"id":"4317e68a.141518","type":"debug","z":"5dc33fb8.2588c","name":"SIM","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"SIM","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":2020,"wires":[]},{"id":"2089d9ca.d67086","type":"comment","z":"5dc33fb8.2588c","name":"---------------------------------------------------------------Separar Datos - Variables Gloabales y Locales--------------------------------------------------------------","info":"","x":550,"y":1840,"wires":[]},{"id":"523d52ed.875a5c","type":"comment","z":"5dc33fb8.2588c","name":"Ejemplo 1 ","info":"","x":120,"y":1900,"wires":[]},{"id":"111e920b.535abe","type":"inject","z":"5dc33fb8.2588c","name":"","props":[{"p":"var1","v":"Variable Local","vt":"str"},{"p":"var2","v":"Variable Global","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":2180,"wires":[["6fc0e424.db8a9c"]]},{"id":"6fc0e424.db8a9c","type":"function","z":"5dc33fb8.2588c","name":"Declaro las Variables Globles y Locales","func":"var local=msg.var1\nflow.set(\"Variable_Local\",local)\n\nvar Vglobal=msg.var2\nglobal.set(\"Variable_Global\",Vglobal)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":2180,"wires":[[]],"info":"https://www.youtube.com/watch?v=Jzyshyt41ng&ab_channel=PlcNode\n\nEjemplo de varible local y global, siendo que las locales se peuden acceder a nivel flow y las globales a niveles de todos los flows"},{"id":"d3f2f447.9ab578","type":"comment","z":"5dc33fb8.2588c","name":"Ejemplo 2 Variables Locales y Globales","info":"","x":210,"y":2120,"wires":[]},{"id":"a7433130.bc8f1","type":"function","z":"5dc33fb8.2588c","name":"Accedo a Variables Local","func":"msg.payload=flow.get(\"Variable_Local\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":2280,"wires":[["5b32d2ad.540c3c"]]},{"id":"98bb0656.7444d8","type":"inject","z":"5dc33fb8.2588c","name":"Accion para Ejecutar Funciones","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":230,"y":2320,"wires":[["a7433130.bc8f1","abf3a8cb.cf3608"]]},{"id":"5b32d2ad.540c3c","type":"debug","z":"5dc33fb8.2588c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":2280,"wires":[]},{"id":"abf3a8cb.cf3608","type":"function","z":"5dc33fb8.2588c","name":"Accedo a Variable Global","func":"msg.payload=global.get(\"Variable_Global\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":2360,"wires":[["787fc7cf.78e208"]]},{"id":"787fc7cf.78e208","type":"debug","z":"5dc33fb8.2588c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":2360,"wires":[]},{"id":"a8025f0f.25f72","type":"mqtt in","z":"5dc33fb8.2588c","name":"","topic":"/topic1","qos":"2","datatype":"auto","broker":"712b53e5.990dfc","nl":false,"rap":true,"rh":0,"x":510,"y":3020,"wires":[["217e6d8c.36b052"]]},{"id":"72d96a40.499d14","type":"mqtt out","z":"5dc33fb8.2588c","name":"","topic":"/topic1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"712b53e5.990dfc","x":350,"y":3020,"wires":[]},{"id":"960b629a.0a6a5","type":"inject","z":"5dc33fb8.2588c","name":"Hola Mundo","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hola Mundo","payloadType":"str","x":170,"y":3020,"wires":[["72d96a40.499d14"]]},{"id":"217e6d8c.36b052","type":"debug","z":"5dc33fb8.2588c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":3020,"wires":[]},{"id":"e26c1caa.5023f","type":"comment","z":"5dc33fb8.2588c","name":"--------------------------------------------------------------MQTT(Mosquitto)--------------------------------------------------------------","info":"","x":460,"y":2900,"wires":[]},{"id":"216b18dd.3d0738","type":"comment","z":"5dc33fb8.2588c","name":"Ejemplo 1 Hola Mundo","info":"","x":160,"y":2960,"wires":[]},{"id":"bae9b6f2.bdae48","type":"function","z":"5dc33fb8.2588c","name":"Tiempo","func":"var Turno=1\nvar SIM=1\nd = new Date(),\ndformat = [d.getFullYear(),\n    d.getMonth()+1,\n    d.getDate()].join('-')+' '+\n    [d.getHours(),\n    d.getMinutes(),\n    d.getSeconds()].join(':');\n\npld =       \"INSERT INTO Tabla_Pruebas1\"\npld = pld + \"(CGolpes,SIM, Turno Fecha) \"\npld = pld + \"VALUES ('\" + msg.payload + \"', '\" + SIM + \"', '\"+ Turno + \"', '\" + dformat + \"')\"\n\nmsg.payload = pld\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":2520,"wires":[["164b2064.c359a"]]},{"id":"164b2064.c359a","type":"debug","z":"5dc33fb8.2588c","name":"Tiempo","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":2520,"wires":[]},{"id":"52e54bfd.3c3124","type":"inject","z":"5dc33fb8.2588c","name":"Inicio","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":2520,"wires":[["bae9b6f2.bdae48"]]},{"id":"adf2c1bc.e607f","type":"comment","z":"5dc33fb8.2588c","name":"Ejemplo 3 Tiempo+Consulta SQL","info":"","x":190,"y":2440,"wires":[]},{"id":"27fe81d.504937e","type":"comment","z":"5dc33fb8.2588c","name":"ABRIME(LEEME IMPORTANTE)","info":"Ativar las salidas que muestran los datos(los bloquesitos verdes)","x":660,"y":40,"wires":[]},{"id":"cc860f1d.e5a2c","type":"function","z":"5dc33fb8.2588c","name":"Extraigo Valor Array","func":"var golpes=msg.payload[0]\n//var golpes=msg.payload.propertyName\nflow.set(\"CGolpes\",golpes)\nmsg.payload=golpes\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":170,"y":2680,"wires":[["91489066.3d3d2"]],"info":"Funcion para declarar una variable a nivel local(flow)"},{"id":"91489066.3d3d2","type":"json","z":"5dc33fb8.2588c","name":"Convierto a String","property":"payload","action":"str","pretty":true,"x":380,"y":2680,"wires":[["b22cdbe0.12a7e8"]]},{"id":"b22cdbe0.12a7e8","type":"function","z":"5dc33fb8.2588c","name":"Extraer_Numero","func":"var name_1 = \"i_txt_7_14\";\nvar name_2 = \"i_txt_27_14\";\nvar name_3 = \"i_txt_136_140\";\nvar num=msg.payload\n\n//Obtiene numero en formato string\nfunction getNumbersInString(string) {\n  var tmp = string.split(\"\");\n  var map = tmp.map(function(current) {\n    if (!isNaN(parseInt(current))) {\n      return current;\n    }\n  });\n\n  var numbers = map.filter(function(value) {\n    return value != undefined;\n  });\n\n  return numbers.join(\"\");\n}\nmsg.payload=getNumbersInString(num)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":2680,"wires":[["4766a0c8.be8f3"]]},{"id":"4766a0c8.be8f3","type":"change","z":"5dc33fb8.2588c","name":"Convierto a Number","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":2680,"wires":[["f40edf5.0697b2"]]},{"id":"f40edf5.0697b2","type":"function","z":"5dc33fb8.2588c","name":"Guardo CGolpes","func":"//Declaro Variable a nivel local del flow\nvar CGolpes=msg.payload\nflow.set(\"CGolpes\",CGolpes)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":2680,"wires":[["c25f6915.2fa108"]]},{"id":"c25f6915.2fa108","type":"debug","z":"5dc33fb8.2588c","name":"CGolpes","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1230,"y":2680,"wires":[]},{"id":"81fa217c.f61d4","type":"comment","z":"5dc33fb8.2588c","name":"Ejemplo 4 Extraigo valores de un objeto sin propiedades","info":"Esto Mucho muy importante cuando tengo un objeto tipo\n{\n    :valor\n}\npq antes del : deberia haber una propiedad que no esta","x":270,"y":2600,"wires":[]},{"id":"df8c0b88.91b0a8","type":"MSSQL-CN","tdsVersion":"7_3_B","name":"Inyectora","server":"localhost","port":"1433","encyption":false,"trustServerCertificate":false,"database":"Inyectora","useUTC":false,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"","parseJSON":false,"enableArithAbort":true},{"id":"712b53e5.990dfc","type":"mqtt-broker","name":"Broker Local","broker":"localhost","port":"1883","clientid":"NodeRedSQLClient","usetls":false,"protocolVersion":"4","keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]