NodeRed/Todo.json
[{"id":"8f0cc179.d6bb7","type":"tab","label":"Pruebas","disabled":false,"info":""},{"id":"5dc33fb8.2588c","type":"tab","label":"Ejemplos","disabled":false,"info":""},{"id":"dea656bb.adbec8","type":"subflow","name":"Subflow 1","info":"","category":"","in":[{"x":60,"y":40,"wires":[{"id":"15a2ed29.dd5393"},{"id":"7d9d346c.f44a2c"}]}],"out":[{"x":720,"y":40,"wires":[{"id":"43990d38.ee6774","port":0}]},{"x":720,"y":100,"wires":[{"id":"9684b658.f78bc8","port":0}]},{"x":720,"y":160,"wires":[{"id":"754ca5d5.f292dc","port":0}]},{"x":720,"y":220,"wires":[{"id":"a0a49648.183c58","port":0}]},{"x":720,"y":280,"wires":[{"id":"7d9d346c.f44a2c","port":0}]}],"env":[{"name":"numero","type":"num","value":"20","ui":{"icon":"font-awesome/fa-angle-double-right","type":"input","opts":{"types":["num"]}}}],"color":"#DDAA99"},{"id":"4c14f90f.4c4748","type":"subflow","name":"Calculo Datos","info":"","category":"function","in":[{"x":40,"y":240,"wires":[{"id":"e621d496.48bc48"}]}],"out":[{"x":1000,"y":120,"wires":[{"id":"75fc0ce1.d9ed94","port":0}]},{"x":1000,"y":180,"wires":[{"id":"ed9bc8a.b089038","port":0}]},{"x":1000,"y":240,"wires":[{"id":"167dc274.fe8a2e","port":0}]},{"x":860,"y":360,"wires":[{"id":"e65a6f8f.f302c","port":0}]},{"x":860,"y":420,"wires":[{"id":"24838477.a9288c","port":0}]}],"env":[{"name":"acumulado","type":"num","value":"20","ui":{"icon":"font-awesome/fa-caret-square-o-right","type":"input","opts":{"types":["num"]}}}],"color":"#3FADB5","inputLabels":["datos"],"outputLabels":["max","min","avg","array datos","contador"],"icon":"node-red/function.svg"},{"id":"8ba5f100.ff619","type":"MSSQL-CN","tdsVersion":"7_3_B","name":"Inyectora","server":"localhost","port":"1433","encyption":true,"trustServerCertificate":false,"database":"Inyectora","useUTC":false,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"","parseJSON":false,"enableArithAbort":true,"info":"Para que este modulo funcione creo q tengo q desactiva la encriptacion pero tengo q ver como lo hago"},{"id":"df8c0b88.91b0a8","type":"MSSQL-CN","tdsVersion":"7_3_B","name":"Inyectora","server":"localhost","port":"1433","encyption":false,"trustServerCertificate":false,"database":"Inyectora","useUTC":false,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"","parseJSON":false,"enableArithAbort":true},{"id":"712b53e5.990dfc","type":"mqtt-broker","name":"Broker Local","broker":"localhost","port":"1883","clientid":"NodeRedSQLClient","usetls":false,"protocolVersion":"4","keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b2cca70.599c858","type":"MSSQL-CN","tdsVersion":"7_4","name":"Inyectora2","server":"localhost","port":"1433","encyption":true,"trustServerCertificate":true,"database":"Inyectora","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"","parseJSON":false,"enableArithAbort":true},{"id":"c1be0775.0fa7a8","type":"debug","z":"8f0cc179.d6bb7","name":"Dato","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":220,"wires":[]},{"id":"7eef8af1.97fb04","type":"MSSQL","z":"8f0cc179.d6bb7","mssqlCN":"8ba5f100.ff619","name":"Inyectora","outField":"payload","returnType":0,"throwErrors":"0","query":"","modeOpt":"","modeOptType":"query","queryOpt":"payload","queryOptType":"msg","paramsOpt":"queryParams","paramsOptType":"msg","rows":"rows","rowsType":"msg","params":[],"x":400,"y":220,"wires":[["c1be0775.0fa7a8"]]},{"id":"15237651.20281a","type":"debug","z":"5dc33fb8.2588c","name":"","active":false,"console":"false","complete":"payload","x":750,"y":260,"wires":[]},{"id":"84df0cd4.58462","type":"inject","z":"5dc33fb8.2588c","name":"Select","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"SELECT TOP (1) [Topic]       ,[Payload]   FROM [Dev].[dbo].[MQTTData]","payloadType":"str","x":150,"y":200,"wires":[["eac3e9b1.b2f0e8"]]},{"id":"eac3e9b1.b2f0e8","type":"MSSQL","z":"5dc33fb8.2588c","mssqlCN":"df8c0b88.91b0a8","name":"MSSQL","outField":"payload","returnType":"0","throwErrors":"0","query":"","modeOpt":"","modeOptType":"query","queryOpt":"payload","queryOptType":"msg","paramsOpt":"queryParams","paramsOptType":"msg","rows":"","rowsType":"msg","params":[],"x":519,"y":261,"wires":[["15237651.20281a"]]},{"id":"ca03c5dc.709628","type":"inject","z":"5dc33fb8.2588c","name":"Insert","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"INSERT INTO [Dev].[dbo].[MQTTData] (Topic, Payload) VALUES ('Cardinal', 'Tom B. Erichsen' )","payloadType":"str","x":153,"y":245,"wires":[["eac3e9b1.b2f0e8"]]},{"id":"57a3215a.12b8d","type":"inject","z":"5dc33fb8.2588c","name":"Update","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":150,"y":296,"wires":[["fc1afd38.1ad0f"]]},{"id":"fc1afd38.1ad0f","type":"function","z":"5dc33fb8.2588c","name":"Function","func":"d = new Date,\ndformat = [d.getMonth()+1,\n    d.getDate(),\n    d.getFullYear()].join('/')+' '+\n    [d.getHours(),\n    d.getMinutes(),\n    d.getSeconds()].join(':');\n\ndtstmp = new Date().toString();\npld =       \"UPDATE [Dev].[dbo].[MQTTData] \"\npld = pld + \"Set Timestamp = '\" + dformat + \"' \"\npld = pld + \"WHERE id = 1\"\n\nmsg.payload = pld\nreturn msg;\n\n\n\n\n","outputs":1,"noerr":0,"x":290,"y":296,"wires":[["eac3e9b1.b2f0e8"]]},{"id":"35b4a3e.f64c05c","type":"inject","z":"5dc33fb8.2588c","name":"Select","repeat":"","crontab":"","once":false,"topic":"","payload":"2","payloadType":"num","x":151,"y":352,"wires":[["1528d6ba.7db449"]]},{"id":"1528d6ba.7db449","type":"function","z":"5dc33fb8.2588c","name":"Function","func":"pld =       \"SELECT ID, Topic, Payload, Timestamp \"\npld = pld + \"FROM [Dev].[dbo].[MQTTData] \"\npld = pld + \"WHERE id = \" + msg.payload\n\nmsg.payload = pld\nreturn msg;\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":291,"y":352,"wires":[["eac3e9b1.b2f0e8"]]},{"id":"38bb7577.af1c3a","type":"mqtt in","z":"5dc33fb8.2588c","name":"","topic":"SQLTest/#","qos":"0","datatype":"auto","broker":"712b53e5.990dfc","nl":false,"rap":false,"x":142,"y":402,"wires":[["7eafa2f8.041ebc"]]},{"id":"7eafa2f8.041ebc","type":"function","z":"5dc33fb8.2588c","name":"Function","func":"d = new Date(),\ndformat = [d.getMonth()+1,\n    d.getDate(),\n    d.getFullYear()].join('/')+' '+\n    [d.getHours(),\n    d.getMinutes(),\n    d.getSeconds()].join(':');\n\npld =       \"INSERT INTO [Dev].[dbo].[MQTTData] \"\npld = pld + \"(Topic, Payload, Timestamp) \"\npld = pld + \"VALUES ('\" + msg.topic + \"', '\" + msg.payload + \"', '\" + dformat + \"')\"\n\nmsg.topic = ''\nmsg.payload = pld\nreturn msg;\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":284,"y":402,"wires":[["eac3e9b1.b2f0e8","15237651.20281a"]]},{"id":"e9c80937.e09ff8","type":"MSSQL","z":"8f0cc179.d6bb7","mssqlCN":"df8c0b88.91b0a8","name":"InyectoraOk","outField":"payload","returnType":"0","throwErrors":"0","query":"","modeOpt":"","modeOptType":"query","queryOpt":"payload","queryOptType":"msg","paramsOpt":"queryParams","paramsOptType":"msg","rows":"","rowsType":"msg","params":[],"x":410,"y":420,"wires":[["5f6b5eb9.d4665"]]},{"id":"5f6b5eb9.d4665","type":"debug","z":"8f0cc179.d6bb7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":420,"wires":[]},{"id":"f1fe1257.8cd5a","type":"inject","z":"8f0cc179.d6bb7","name":"Select","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"SELECT TOP (1) [SIM]   FROM [Inyectora].[dbo].[Tabla_Pruebas1]","payloadType":"str","x":190,"y":300,"wires":[["e9c80937.e09ff8","7eef8af1.97fb04","f0eb4ed1.b76b7"]]},{"id":"f0eb4ed1.b76b7","type":"MSSQL","z":"8f0cc179.d6bb7","mssqlCN":"b2cca70.599c858","name":"","outField":"payload","returnType":"1","throwErrors":"1","query":"","modeOpt":"","modeOptType":"query","queryOpt":"payload","queryOptType":"msg","paramsOpt":"queryParams","paramsOptType":"msg","rows":"rows","rowsType":"msg","params":[],"x":420,"y":320,"wires":[["a8348d07.e45ce"]]},{"id":"a8348d07.e45ce","type":"debug","z":"8f0cc179.d6bb7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":320,"wires":[]},{"id":"25b6280d.1ecf6","type":"inject","z":"5dc33fb8.2588c","name":"decrement","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":160,"y":740,"wires":[["8a41c1.6006b64"]]},{"id":"285e0e19.b9680a","type":"inject","z":"5dc33fb8.2588c","name":"increment","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":160,"y":700,"wires":[["ce8d952f.18666"]]},{"id":"fda0a334.bc9588","type":"inject","z":"5dc33fb8.2588c","name":"reset","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":150,"y":780,"wires":[["17cce981.975686"]]},{"id":"ce8d952f.18666","type":"function","z":"5dc33fb8.2588c","name":"msg object","func":"msg.increment = 2;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":700,"wires":[["ac65bf94.6e609"]]},{"id":"17cce981.975686","type":"function","z":"5dc33fb8.2588c","name":"msg object","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":780,"wires":[["ac65bf94.6e609"]]},{"id":"8a41c1.6006b64","type":"function","z":"5dc33fb8.2588c","name":"msg object","func":"msg.decrement = 1;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":740,"wires":[["ac65bf94.6e609"]]},{"id":"ac65bf94.6e609","type":"counter","z":"5dc33fb8.2588c","name":"","init":"0","step":1,"lower":"","upper":"","mode":"increment","outputs":"1","x":520,"y":720,"wires":[["988afc3c.a08f98"]]},{"id":"370626a8.22216a","type":"inject","z":"5dc33fb8.2588c","name":"normal msg without control parameter","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":250,"y":660,"wires":[["ac65bf94.6e609"]]},{"id":"988afc3c.a08f98","type":"debug","z":"5dc33fb8.2588c","name":"message","active":false,"console":"false","complete":"true","x":680,"y":720,"wires":[]},{"id":"87e14a0a.2f71c8","type":"comment","z":"5dc33fb8.2588c","name":"Ejemplo SQL","info":"A partir del primer link se encuentran el resto de los links\n\nhttps://flows.nodered.org/flow/393641f5cdd1d3a6c59bd232dfcee08e\n\nhttp://electronhacks.com/2017/04/using-microsoft-sql-server-with-node-red-and-mqtt/\n\nhttps://www.youtube.com/watch?v=nmeUSucRZrc&ab_channel=electronhacks\n\nhttps://www.youtube.com/watch?v=sQdzIiKjn9g&ab_channel=electronhacks","x":130,"y":140,"wires":[]},{"id":"25e180ff.1d13e","type":"comment","z":"5dc33fb8.2588c","name":"Ejemplo 1 Contador","info":"https://flows.nodered.org/node/node-red-contrib-counter","x":150,"y":600,"wires":[]},{"id":"4f41c5a1.85426c","type":"inject","z":"5dc33fb8.2588c","name":"decrement","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":160,"y":1000,"wires":[["e9085587.2d19c"]]},{"id":"afb267a8.63739","type":"inject","z":"5dc33fb8.2588c","name":"increment","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":160,"y":960,"wires":[["4a35e3c7.3dbd0c"]]},{"id":"f066adf1.21ba","type":"inject","z":"5dc33fb8.2588c","name":"reset","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":150,"y":1040,"wires":[["523f8e05.d5537"]]},{"id":"4a35e3c7.3dbd0c","type":"function","z":"5dc33fb8.2588c","name":"msg object","func":"msg.increment = 3;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":960,"wires":[["f33ad4bd.777a5"]]},{"id":"523f8e05.d5537","type":"function","z":"5dc33fb8.2588c","name":"msg object","func":"msg.reset = 10;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":1040,"wires":[["f33ad4bd.777a5"]]},{"id":"e9085587.2d19c","type":"function","z":"5dc33fb8.2588c","name":"msg object","func":"msg.decrement = 1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":1000,"wires":[["f33ad4bd.777a5"]]},{"id":"9b40b088.73732","type":"debug","z":"5dc33fb8.2588c","name":"count","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":960,"wires":[]},{"id":"f33ad4bd.777a5","type":"counter","z":"5dc33fb8.2588c","name":"","init":"100","step":"1","lower":"","upper":"","mode":"increment","outputs":"2","x":520,"y":980,"wires":[["9b40b088.73732"],["876cc69d.d4b438"]]},{"id":"99b73d63.9fdb","type":"inject","z":"5dc33fb8.2588c","name":"normal msg without control parameter","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":250,"y":920,"wires":[["f33ad4bd.777a5"]]},{"id":"876cc69d.d4b438","type":"debug","z":"5dc33fb8.2588c","name":"message","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":680,"y":1000,"wires":[]},{"id":"c1ccbb21.ac8058","type":"comment","z":"5dc33fb8.2588c","name":"Ejemplo 2 Contador","info":"https://flows.nodered.org/node/node-red-contrib-counter","x":150,"y":860,"wires":[]},{"id":"389ef55c.94df0a","type":"comment","z":"5dc33fb8.2588c","name":"Ejemplo 1 Hola Mundo Variables -Tambien Uno Datos","info":"","x":260,"y":1460,"wires":[]},{"id":"114a1034.b1e16","type":"inject","z":"5dc33fb8.2588c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Mundo","payload":"Hola","payloadType":"str","x":170,"y":1520,"wires":[["c71e4390.2dc3f"]]},{"id":"c71e4390.2dc3f","type":"function","z":"5dc33fb8.2588c","name":"","func":"var payload=msg.payload;\nvar topic=msg.topic\nmsg.ejemplo=payload+\" \"+topic\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1520,"wires":[["758a7b46.ff5864"]]},{"id":"758a7b46.ff5864","type":"debug","z":"5dc33fb8.2588c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"ejemplo","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":1520,"wires":[]},{"id":"80e69089.80514","type":"inject","z":"5dc33fb8.2588c","name":"increment","props":[{"p":"increment","v":"1","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","x":160,"y":1160,"wires":[["e890e564.aed608"]]},{"id":"da3debc8.2668d8","type":"inject","z":"5dc33fb8.2588c","name":"reset","props":[{"p":"reset","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","x":150,"y":1220,"wires":[["e890e564.aed608"]]},{"id":"e890e564.aed608","type":"counter","z":"5dc33fb8.2588c","name":"","init":"0","step":1,"lower":"","upper":"","mode":"increment","outputs":"1","x":320,"y":1160,"wires":[["8c425b7e.525718"]]},{"id":"8c425b7e.525718","type":"debug","z":"5dc33fb8.2588c","name":"message","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":1160,"wires":[]},{"id":"78c2ec38.a7fde4","type":"comment","z":"5dc33fb8.2588c","name":"Ejemplo 3 Contador","info":"Este es Propio, no lo saque de internet","x":150,"y":1120,"wires":[]},{"id":"728c17ff.b30f38","type":"comment","z":"5dc33fb8.2588c","name":"---------------------------------------------------------------Contadores---------------------------------------------------------------","info":"","x":440,"y":540,"wires":[]},{"id":"271faaab.007466","type":"comment","z":"5dc33fb8.2588c","name":"---------------------------------------------------------------Hola Mundo---------------------------------------------------------------","info":"","x":440,"y":1400,"wires":[]},{"id":"3777931.e53986c","type":"comment","z":"5dc33fb8.2588c","name":"---------------------------------------------------------------SQL---------------------------------------------------------------","info":"","x":420,"y":80,"wires":[]},{"id":"ffb57147.9be53","type":"inject","z":"5dc33fb8.2588c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hola Mundo","payloadType":"str","x":170,"y":1640,"wires":[["3ee14441.e045dc"]]},{"id":"3ee14441.e045dc","type":"debug","z":"5dc33fb8.2588c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":1640,"wires":[]},{"id":"54c18b2b.d6fb84","type":"comment","z":"5dc33fb8.2588c","name":"Ejemplo 2 Hola Mundo","info":"","x":160,"y":1580,"wires":[]},{"id":"fd9219c2.dfbb08","type":"comment","z":"8f0cc179.d6bb7","name":"-----------------------Flow Para Hacer Puerbas-------------------","info":"","x":250,"y":40,"wires":[]},{"id":"e91c65ba.e597a8","type":"comment","z":"5dc33fb8.2588c","name":"--------------------Flow Para Documentar Ejemplos--------------------","info":"","x":260,"y":40,"wires":[]},{"id":"2ba24f34.ee948","type":"inject","z":"5dc33fb8.2588c","name":"Datos","props":[{"p":"Tiempo","v":"","vt":"date"},{"p":"Turno","v":"1","vt":"str"},{"p":"SIM","v":"1","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":1980,"wires":[["80d953ac.ecd92","87652058.b56d9","4317e68a.141518"]]},{"id":"80d953ac.ecd92","type":"debug","z":"5dc33fb8.2588c","name":"Tiempo","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"Tiempo","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":1940,"wires":[]},{"id":"87652058.b56d9","type":"debug","z":"5dc33fb8.2588c","name":"Turno","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"Turno","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":1980,"wires":[]},{"id":"4317e68a.141518","type":"debug","z":"5dc33fb8.2588c","name":"SIM","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"SIM","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":2020,"wires":[]},{"id":"2089d9ca.d67086","type":"comment","z":"5dc33fb8.2588c","name":"---------------------------------------------------------------Separar Datos - Variables Gloabales y Locales--------------------------------------------------------------","info":"","x":550,"y":1840,"wires":[]},{"id":"523d52ed.875a5c","type":"comment","z":"5dc33fb8.2588c","name":"Ejemplo 1 ","info":"","x":120,"y":1900,"wires":[]},{"id":"77c51644.ec1628","type":"comment","z":"8f0cc179.d6bb7","name":"----------------------------------------------------------Pruebas SQL----------------------------------------------------------","info":"","x":430,"y":100,"wires":[]},{"id":"66891413.15d01c","type":"comment","z":"8f0cc179.d6bb7","name":"Prueba 1 Conexion a bbdd Inyectora","info":"En esta prueba, el moduolo que dice Inyectora y MSSQL-PLUS no conectan sin embargo estan configurados igual que InyectoraOk y este ultimo si conecta\nCreo que la SOLUCION de esto es desactivar la encriptacion en sus codigos js y volver a cargar el modulo por separado","x":230,"y":160,"wires":[]},{"id":"111e920b.535abe","type":"inject","z":"5dc33fb8.2588c","name":"","props":[{"p":"var1","v":"Variable Local","vt":"str"},{"p":"var2","v":"Variable Global","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":2180,"wires":[["6fc0e424.db8a9c"]]},{"id":"6fc0e424.db8a9c","type":"function","z":"5dc33fb8.2588c","name":"Declaro las Variables Globles y Locales","func":"var local=msg.var1\nflow.set(\"Variable_Local\",local)\n\nvar Vglobal=msg.var2\nglobal.set(\"Variable_Global\",Vglobal)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":2180,"wires":[[]],"info":"https://www.youtube.com/watch?v=Jzyshyt41ng&ab_channel=PlcNode\n\nEjemplo de varible local y global, siendo que las locales se peuden acceder a nivel flow y las globales a niveles de todos los flows"},{"id":"d3f2f447.9ab578","type":"comment","z":"5dc33fb8.2588c","name":"Ejemplo 2 Variables Locales y Globales","info":"","x":210,"y":2120,"wires":[]},{"id":"a7433130.bc8f1","type":"function","z":"5dc33fb8.2588c","name":"Accedo a Variables Local","func":"msg.payload=flow.get(\"Variable_Local\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":2280,"wires":[["5b32d2ad.540c3c"]]},{"id":"98bb0656.7444d8","type":"inject","z":"5dc33fb8.2588c","name":"Accion para Ejecutar Funciones","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":230,"y":2320,"wires":[["a7433130.bc8f1","abf3a8cb.cf3608"]]},{"id":"5b32d2ad.540c3c","type":"debug","z":"5dc33fb8.2588c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":2280,"wires":[]},{"id":"abf3a8cb.cf3608","type":"function","z":"5dc33fb8.2588c","name":"Accedo a Variable Global","func":"msg.payload=global.get(\"Variable_Global\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":2360,"wires":[["787fc7cf.78e208"]]},{"id":"787fc7cf.78e208","type":"debug","z":"5dc33fb8.2588c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":2360,"wires":[]},{"id":"a0a49648.183c58","type":"join","z":"dea656bb.adbec8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":410,"y":40,"wires":[["43990d38.ee6774","9684b658.f78bc8","754ca5d5.f292dc"]]},{"id":"7d9d346c.f44a2c","type":"change","z":"dea656bb.adbec8","name":"","rules":[{"t":"set","p":"contador","pt":"flow","to":"$flowContext('contador')+1","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"contador","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"contador","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":280,"wires":[[]]},{"id":"1ba070b0.8a3a6f","type":"inject","z":"dea656bb.adbec8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":110,"y":400,"wires":[["c9a38bd6.657528"]]},{"id":"c9a38bd6.657528","type":"change","z":"dea656bb.adbec8","name":"","rules":[{"t":"set","p":"contador","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":400,"wires":[[]]},{"id":"43990d38.ee6774","type":"change","z":"dea656bb.adbec8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$max(payload)\t","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"max","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":40,"wires":[[]]},{"id":"15a2ed29.dd5393","type":"change","z":"dea656bb.adbec8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":40,"wires":[["24379c71.4e09b4"]]},{"id":"9684b658.f78bc8","type":"change","z":"dea656bb.adbec8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$min(payload)\t","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"min","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":100,"wires":[[]]},{"id":"754ca5d5.f292dc","type":"change","z":"dea656bb.adbec8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$average(payload)\t","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"avg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":160,"wires":[[]]},{"id":"24379c71.4e09b4","type":"switch","z":"dea656bb.adbec8","name":"","property":"contador","propertyType":"flow","rules":[{"t":"lt","v":"numero","vt":"env"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":130,"y":260,"wires":[["a0a49648.183c58"],["a50c0523.9feb58"]]},{"id":"a50c0523.9feb58","type":"change","z":"dea656bb.adbec8","name":"","rules":[{"t":"set","p":"contador","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":260,"wires":[["a0a49648.183c58"]]},{"id":"e65a6f8f.f302c","type":"join","z":"4c14f90f.4c4748","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":240,"wires":[["75fc0ce1.d9ed94","ed9bc8a.b089038","167dc274.fe8a2e"]]},{"id":"52265019.e5dcb","type":"change","z":"4c14f90f.4c4748","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":240,"wires":[["e65a6f8f.f302c"]]},{"id":"2e76e758.536288","type":"inject","z":"4c14f90f.4c4748","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":190,"y":540,"wires":[["a487c4ab.f856b8"]]},{"id":"a487c4ab.f856b8","type":"change","z":"4c14f90f.4c4748","name":"","rules":[{"t":"set","p":"contador","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":540,"wires":[[]]},{"id":"e621d496.48bc48","type":"change","z":"4c14f90f.4c4748","name":"","rules":[{"t":"set","p":"contador","pt":"flow","to":"$flowContext('contador')+1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":240,"wires":[["e7eca0ca.618d6","24838477.a9288c"]]},{"id":"e7eca0ca.618d6","type":"switch","z":"4c14f90f.4c4748","name":"","property":"contador","propertyType":"flow","rules":[{"t":"lt","v":"acumulado","vt":"env"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":240,"wires":[["52265019.e5dcb"],["ca7775ab.3a6bc8"]]},{"id":"ca7775ab.3a6bc8","type":"change","z":"4c14f90f.4c4748","name":"","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"contador","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":340,"wires":[["52265019.e5dcb"]]},{"id":"24838477.a9288c","type":"change","z":"4c14f90f.4c4748","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"contador","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"contador","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":400,"wires":[[]]},{"id":"75fc0ce1.d9ed94","type":"change","z":"4c14f90f.4c4748","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$max(payload)\t","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"MAX","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":120,"wires":[[]]},{"id":"ed9bc8a.b089038","type":"change","z":"4c14f90f.4c4748","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$min(payload)\t","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"MIN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":180,"wires":[[]]},{"id":"167dc274.fe8a2e","type":"change","z":"4c14f90f.4c4748","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$average(payload)","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"AVG","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":240,"wires":[[]]},{"id":"a8025f0f.25f72","type":"mqtt in","z":"5dc33fb8.2588c","name":"","topic":"/topic1","qos":"2","datatype":"auto","broker":"712b53e5.990dfc","nl":false,"rap":true,"rh":0,"x":510,"y":3020,"wires":[["217e6d8c.36b052"]]},{"id":"72d96a40.499d14","type":"mqtt out","z":"5dc33fb8.2588c","name":"","topic":"/topic1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"712b53e5.990dfc","x":350,"y":3020,"wires":[]},{"id":"960b629a.0a6a5","type":"inject","z":"5dc33fb8.2588c","name":"Hola Mundo","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hola Mundo","payloadType":"str","x":170,"y":3020,"wires":[["72d96a40.499d14"]]},{"id":"217e6d8c.36b052","type":"debug","z":"5dc33fb8.2588c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":3020,"wires":[]},{"id":"e26c1caa.5023f","type":"comment","z":"5dc33fb8.2588c","name":"--------------------------------------------------------------MQTT(Mosquitto)--------------------------------------------------------------","info":"","x":460,"y":2900,"wires":[]},{"id":"216b18dd.3d0738","type":"comment","z":"5dc33fb8.2588c","name":"Ejemplo 1 Hola Mundo","info":"","x":160,"y":2960,"wires":[]},{"id":"4b575ca5.a85964","type":"comment","z":"8f0cc179.d6bb7","name":"---------------------------------Pureba MQTT+SQL--------------------------------","info":"","x":290,"y":520,"wires":[]},{"id":"f5e36f0.d9ac99","type":"counter","z":"8f0cc179.d6bb7","name":"ContadorPiezas","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":2,"x":360,"y":1360,"wires":[["2effd284.48d9be"],[]]},{"id":"601a3f1f.4e5ee","type":"inject","z":"8f0cc179.d6bb7","name":"Incremento","props":[{"p":"increment","v":"1","vt":"num"},{"p":"fecha","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":180,"y":1360,"wires":[["f5e36f0.d9ac99"]]},{"id":"2effd284.48d9be","type":"function","z":"8f0cc179.d6bb7","name":"Suma","func":"//Funcion para sumar el ultimo CGolpes de la sql al contador de la maquina\nvar CGolpes=flow.get(\"CGolpes\") //Obtengo Valor de la variable global\nmsg.payload=CGolpes+msg.payload\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":1360,"wires":[["3af59d61.889122"]]},{"id":"a8cdd9cc.a75878","type":"debug","z":"8f0cc179.d6bb7","name":"CGolpes","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":1280,"wires":[]},{"id":"182fa228.4fcc2e","type":"change","z":"8f0cc179.d6bb7","name":"Convierto a Number","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1120,"wires":[["ac38c8f.6500638"]]},{"id":"f9703c7f.94fed","type":"comment","z":"8f0cc179.d6bb7","name":"Del lado del ordenador que contiene la BBDD","info":"","x":210,"y":580,"wires":[]},{"id":"511e7e51.b48de","type":"comment","z":"8f0cc179.d6bb7","name":"Del Lado de la Rasberrypi en la inyectora","info":"","x":190,"y":880,"wires":[]},{"id":"ac38c8f.6500638","type":"function","z":"8f0cc179.d6bb7","name":"Guardo CGolpes","func":"//Declaro Variable a nivel local del flow\nvar CGolpes=msg.payload\nflow.set(\"CGolpes\",CGolpes)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":1160,"wires":[[]]},{"id":"7b02ddd1.181704","type":"mqtt out","z":"8f0cc179.d6bb7","name":"","topic":"/topic1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"712b53e5.990dfc","x":910,"y":1360,"wires":[]},{"id":"c4c26037.c4937","type":"comment","z":"8f0cc179.d6bb7","name":"BBDD que recibe y escribe los datos que va enviando las rasberry pi pro cada pieza","info":"","x":320,"y":720,"wires":[]},{"id":"1472c35c.02a35d","type":"mqtt in","z":"8f0cc179.d6bb7","name":"","topic":"/topic1","qos":"2","datatype":"auto","broker":"712b53e5.990dfc","nl":false,"rap":true,"rh":0,"x":90,"y":780,"wires":[["e7eb41e.6cfdbc"]]},{"id":"66016b3f.cae564","type":"comment","z":"8f0cc179.d6bb7","name":"Golpes Max ini se reemplazaria por mqtt","info":"","x":790,"y":740,"wires":[]},{"id":"3af59d61.889122","type":"function","z":"8f0cc179.d6bb7","name":"Consulta SQL","func":"var Turno=1\nvar SIM=5060001\nd = new Date(),\ndformat = [d.getFullYear(),\n    d.getMonth()+1,\n    d.getDate()].join('-')+' '+\n    [d.getHours(),\n    d.getMinutes(),\n    d.getSeconds()].join(':');\n\npld =       \"INSERT INTO Tabla_Pruebas1 \"\npld = pld + \"(CGolpes,SIM, Turno Fecha) \"\npld = pld + \"VALUES ('\" + msg.payload + \"', '\" + SIM + \"', '\"+ Turno + \"', '\" + dformat + \"')\"\n\nmsg.payload = pld\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":1360,"wires":[["a8cdd9cc.a75878"]]},{"id":"bae9b6f2.bdae48","type":"function","z":"5dc33fb8.2588c","name":"Tiempo","func":"var Turno=1\nvar SIM=1\nd = new Date(),\ndformat = [d.getFullYear(),\n    d.getMonth()+1,\n    d.getDate()].join('-')+' '+\n    [d.getHours(),\n    d.getMinutes(),\n    d.getSeconds()].join(':');\n\npld =       \"INSERT INTO Tabla_Pruebas1\"\npld = pld + \"(CGolpes,SIM, Turno Fecha) \"\npld = pld + \"VALUES ('\" + msg.payload + \"', '\" + SIM + \"', '\"+ Turno + \"', '\" + dformat + \"')\"\n\nmsg.payload = pld\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":2520,"wires":[["164b2064.c359a"]]},{"id":"164b2064.c359a","type":"debug","z":"5dc33fb8.2588c","name":"Tiempo","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":2520,"wires":[]},{"id":"52e54bfd.3c3124","type":"inject","z":"5dc33fb8.2588c","name":"Inicio","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":2520,"wires":[["bae9b6f2.bdae48"]]},{"id":"adf2c1bc.e607f","type":"comment","z":"5dc33fb8.2588c","name":"Ejemplo 3 Tiempo+Consulta SQL","info":"","x":190,"y":2440,"wires":[]},{"id":"27fe81d.504937e","type":"comment","z":"5dc33fb8.2588c","name":"ABRIME(LEEME IMPORTANTE)","info":"Ativar las salidas que muestran los datos(los bloquesitos verdes)","x":660,"y":40,"wires":[]},{"id":"e7eb41e.6cfdbc","type":"debug","z":"8f0cc179.d6bb7","name":"BBDD","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":280,"y":780,"wires":[]},{"id":"cc860f1d.e5a2c","type":"function","z":"5dc33fb8.2588c","name":"Extraigo Valor Array","func":"var golpes=msg.payload[0]\n//var golpes=msg.payload.propertyName\nflow.set(\"CGolpes\",golpes)\nmsg.payload=golpes\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":170,"y":2680,"wires":[["91489066.3d3d2"]],"info":"Funcion para declarar una variable a nivel local(flow)"},{"id":"91489066.3d3d2","type":"json","z":"5dc33fb8.2588c","name":"Convierto a String","property":"payload","action":"str","pretty":true,"x":380,"y":2680,"wires":[["b22cdbe0.12a7e8"]]},{"id":"b22cdbe0.12a7e8","type":"function","z":"5dc33fb8.2588c","name":"Extraer_Numero","func":"var name_1 = \"i_txt_7_14\";\nvar name_2 = \"i_txt_27_14\";\nvar name_3 = \"i_txt_136_140\";\nvar num=msg.payload\n\n//Obtiene numero en formato string\nfunction getNumbersInString(string) {\n  var tmp = string.split(\"\");\n  var map = tmp.map(function(current) {\n    if (!isNaN(parseInt(current))) {\n      return current;\n    }\n  });\n\n  var numbers = map.filter(function(value) {\n    return value != undefined;\n  });\n\n  return numbers.join(\"\");\n}\nmsg.payload=getNumbersInString(num)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":2680,"wires":[["4766a0c8.be8f3"]]},{"id":"4766a0c8.be8f3","type":"change","z":"5dc33fb8.2588c","name":"Convierto a Number","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":2680,"wires":[["f40edf5.0697b2"]]},{"id":"f40edf5.0697b2","type":"function","z":"5dc33fb8.2588c","name":"Guardo CGolpes","func":"//Declaro Variable a nivel local del flow\nvar CGolpes=msg.payload\nflow.set(\"CGolpes\",CGolpes)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":2680,"wires":[["c25f6915.2fa108"]]},{"id":"c25f6915.2fa108","type":"debug","z":"5dc33fb8.2588c","name":"CGolpes","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1230,"y":2680,"wires":[]},{"id":"81fa217c.f61d4","type":"comment","z":"5dc33fb8.2588c","name":"Ejemplo 4 Extraigo valores de un objeto sin propiedades","info":"Esto Mucho muy importante cuando tengo un objeto tipo\n{\n    :valor\n}\npq antes del : deberia haber una propiedad que no esta","x":270,"y":2600,"wires":[]},{"id":"aa93af74.4000d","type":"inject","z":"8f0cc179.d6bb7","name":"Golpes Maximo Inicial","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"SELECT MAX(CGolpes) FROM Tabla_Pruebas1 where SIM=5060001","payloadType":"str","x":210,"y":960,"wires":[["a1335ddb.73a8a"]]},{"id":"1084af80.bfdf21","type":"function","z":"8f0cc179.d6bb7","name":"Extraigo Valor Array","func":"var golpes=msg.payload[0]\n//var golpes=msg.payload.propertyName\nflow.set(\"CGolpes\",golpes)\nmsg.payload=golpes\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":1000,"wires":[["342cf043.7a3ab"]],"info":"Funcion para declarar una variable a nivel local(flow)"},{"id":"342cf043.7a3ab","type":"json","z":"8f0cc179.d6bb7","name":"Convierto a String","property":"payload","action":"str","pretty":true,"x":650,"y":1040,"wires":[["7004848.4909f7c"]]},{"id":"7004848.4909f7c","type":"function","z":"8f0cc179.d6bb7","name":"Extraer_Numero","func":"var name_1 = \"i_txt_7_14\";\nvar name_2 = \"i_txt_27_14\";\nvar name_3 = \"i_txt_136_140\";\nvar num=msg.payload\n\n//Obtiene numero en formato string\nfunction getNumbersInString(string) {\n  var tmp = string.split(\"\");\n  var map = tmp.map(function(current) {\n    if (!isNaN(parseInt(current))) {\n      return current;\n    }\n  });\n\n  var numbers = map.filter(function(value) {\n    return value != undefined;\n  });\n\n  return numbers.join(\"\");\n}\nmsg.payload=getNumbersInString(num)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":1080,"wires":[["182fa228.4fcc2e"]]},{"id":"f5f31773.e79498","type":"comment","z":"8f0cc179.d6bb7","name":"Inicialmente obtengo la mayor cantidad de golpes y la mando a la rasberry pi","info":"","x":360,"y":920,"wires":[]},{"id":"8e94e312.618cc","type":"MSSQL","z":"8f0cc179.d6bb7","mssqlCN":"df8c0b88.91b0a8","name":"InyectoraOk","outField":"payload","returnType":"0","throwErrors":"0","query":"","modeOpt":"","modeOptType":"query","queryOpt":"payload","queryOptType":"msg","paramsOpt":"queryParams","paramsOptType":"msg","rows":"","rowsType":"msg","params":[],"x":270,"y":640,"wires":[["1084af80.bfdf21"]]},{"id":"2b664e3.f9e77b2","type":"mqtt in","z":"8f0cc179.d6bb7","name":"","topic":"/topic1","qos":"2","datatype":"auto","broker":"712b53e5.990dfc","nl":false,"rap":true,"rh":0,"x":90,"y":640,"wires":[["8e94e312.618cc"]]},{"id":"a1335ddb.73a8a","type":"mqtt out","z":"8f0cc179.d6bb7","name":"","topic":"/topic1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"712b53e5.990dfc","x":390,"y":960,"wires":[]},{"id":"8e20e86f.a966f8","type":"function","z":"8f0cc179.d6bb7","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":1220,"wires":[[]]}]